<blockquote class="blockquote text-center">
  <p class="mb-0">
    Welcome to trackme, here you can keep a track of your daily routine and what
    you want to do troughout the days...
  </p>
</blockquote>

<div style="padding-left: 5%;">
  <h1 class="display-1 thinmeup sendmeleft">First!</h1>
  <p class="lead textmeup">
    For starters we have to create activities! To do this acces the top tab
    named <strong>Create activity</strong>, once you are inside it will ask you
    to prompt a <strong>name</strong> for your activity and a
    <strong>description</strong> of it, be free to add whatever you like...
  </p>
</div>

<div style="padding-left: 5%;">
  <h1 class="display-1 thinmeup sendmeright">Second!</h1>
  <p class="lead textmeup">
    Okey, so we have our activities prompted... now what? Now, its time to start
    logging stuff, this is done by clicking on the tab
    <strong>Log an activity</strong>, there we will be asked to choose
    from<strong> one of our created activities</strong> then, we may add a
    <strong>starting</strong> and <strong>ending</strong> time to our activity
    to be logged, also, we can add some notes to our log for the sake of leaving
    a thought! But dont worry, if you just feel like logging an activity without
    a <strong>starting and ending</strong> time or a <strong>note</strong> of
    explanation you dont heve to add those...
  </p>
</div>

<div style="padding-left: 5%;">
  <h1 class="display-1 thinmeup sendmeleft">Third!</h1>
  <p class="lead textmeup">
    Well... thats about it... now you may want to keep track of what you do,
    right? To keep track of your daily log just click on the
    <strong>TrackMe</strong> tab on the top left! there you'll see all the
    activities logged of the day. Also, if you want to know about past activities
    logged just go to <strong>Logbook</strong>, there you'll find all the
    activities logged to the date.
  </p>
</div>

<blockquote class="blockquote text-center">
  <p class="mb-0">
    Created by Diego Moreno, for telos labs.
  </p>
</blockquote>
