<h1>TrackMe</h1>

<%= link_to 'Create activity', new_activity_path %> // 
<%= link_to 'Show activities', activities_path %> // 
<%= link_to 'Log an activity', new_log_path %> //
<%= link_to 'Show all loged activities', logs_path %>

<p>Welcome to trackme, here you can keep a track of your daily routine and what you want to do troughout the days</p>
