/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
 @import "bootstrap";

 .inner_column_top {
  border-bottom: solid 1px #0000008f;
  text-align: center;
  padding-bottom: .1em;
 }

 .bgtop {
   background-color: #FDCE4B;
   font-weight: bold;
 }
 
 .inner_column {
  border-right: solid 1px #0000008f;
  text-align: center;
  padding-bottom: .1em;
 }

 .inner_column_noborder {
  text-align: center;
  padding-bottom: .1em;
 }

 .contain {
   border-radius: .3em;
   border: solid .1em #0000008f;
 }

 blockquote {
   padding-top: 2em;
 }

 .custom-header {
   font-size: 3em;
   font-weight: 420;
   padding-left: 2em;
   padding-bottom: .6em;
   padding-top: .4em;
 }

 .custom-header2 {
  font-weight: 420;
  padding-left: 2em;
  padding-bottom: .8em;
  padding-top: .4em;
 }

 .my-padding {
   padding-left: 6em;
 }

 input:focus {
  background-color: #FDCE4B;
}

textarea:focus {
  background-color: #FDCE4B;
  columns: 50;
}

.custompad {
  padding-left: 10%;
}