<h1 class="custom-header">Today's log</h1>

<%= render 'showcase' %>

<div class="my-padding pt-4">
  <%= link_to '<button class="btn btn-secondary" type="button" style="margin-bottom: .5em;">Log an activity</button>'.html_safe, new_log_path %>
  <%= link_to '<button class="btn btn-secondary" type="button" style="margin-bottom: .5em;">Logbook</button>'.html_safe, logs_path %>
  <%= link_to '<button class="btn btn-secondary" type="button" style="margin-bottom: .5em;">Create an activity</button>'.html_safe, new_activity_path %>
</div>

